// Define variables for your color scheme

// For example:
$blue: #167FFB;
$green: #1EDD88;
$gray: #0E0000;
$light-gray: #414141;
$pourpre: #ff0000;
$red: #b22222;
$orange: #af0404;
$yellow: #f1bc31;
