// Define variables for your color scheme

// For example:
$blue: #167FFB;
$green: #1EDD88;
$gray: #0E0000;
$light-gray: #F4F4F4;
$pourpre: #7c0a02;
$red: #b22222;
$orange: #e25822;
$yellow: #f1bc31;
