body{
  background-color: #414141;
  line-height: 2em;
}
p {
  color: white;
}
a{
  text-decoration: none !important;
  color: black;
}
a:hover{
  text-decoration: none !important;
  color: black;
  cursor:pointer;
}

.top-perso{
  margin-top: 117px;
}
label {
  color: #ff0000;
  font-weight: bold;
}
.align{
  margin: 0 auto;
}
h1{
  color:$pourpre;
  font-weight: bold !important;
  font-size: 40px !important;
}

.red{
  color: red;
  font-weight: bold;
}
