<h1>Ferre</h1>
<p>Ferre est le site vous permettant d'échanger les élements qui ne vous servent pas dans votre hotel. Consultez ci dessous les produits que les autres gérants d'hotels vous proposent, et ajoutez vos produits</p>
