.navbar{
  display: flex;
  justify-content: space-between;
  height: 100px;
  font-size: 25px;
  position:fixed;
  z-index: 40;
  top: 0;
  left: 0;
  width: 100%;
  padding:10px 20px;
  box-sizing:border-box;
  transition: .5s;
  font-weight:bold;
  background-color: rgba(0,0,0,.1);
  a{
    color: $orange;
  }
}
.rootnav{
  p{
    color:$yellow !important;
  }
}
nav.black {
  background: rgba(0,0,0,.9);
  height:100px;
  padding: 10px 50px;
  a{
    color: $yellow;
  }
}
.logo{
  font-size: 50px;
  padding: 0px 10px;
  a{
    color:$pourpre;
  }
  a:hover{
    color: $red;
  }
}

.onglets{
  display: flex;
  list-style: none;
  li{
    margin-right: 40px;
  }
  a{
    transition-duration: .4s;
  }
  a:hover{
    color:$yellow;
    transition-duration: .4s;
  }
}

@media only screen and (max-width: 940px) {
  .navbar{font-size:18px}
  nav.black{padding: 8px 40px}
}
@media only screen and (max-width: 860px) {
  .navbar{font-size:17px}
  nav.black{padding: 8px 40px}
}
@media only screen and (max-width: 768px) {
  .navbar{font-size:15px}
  .onglets{li{margin-right: 30px}}
  nav.black{padding: 6px 20px}
}
@media only screen and (max-width: 700px) {
  .navbar{font-size:14px}
  .onglets{li{margin-right: 14px}}
  nav.black{padding: 6px 20px}
}
@media only screen and (max-width: 650px) {
  .navbar{font-size:14px}
  .onglets{li{margin-right: 5px}}
  nav.black{padding: 6px 20px}
}
@media only screen and (max-width: 520px) {
  .navbar{font-size:12px}
  .onglets{li{margin-right: 4px}}
  nav.black{padding: 4px 10px}
  .logo{ font-size: 40px}
}

@media only screen and (max-width: 480px) {
  .navbar{font-size:13px}
  .onglets{li{margin: 18px 4px 0 0}}
  nav.black{padding: 4px 10px}
  .logo{ font-size: 30px; padding: 0px 5px;}
}
@media only screen and (max-width: 456px) {
  .navbar{font-size:11px}
  .onglets{li{margin: 18px 2px 0 0}}
  nav.black{padding: 4px 10px}
  .logo{ font-size: 25px; padding: 0px 0px;}
}
